# Intermediate Files
*.o

.depend.mak
.extheader.mak

# Analysis Files
tags

# Symbolic Link for reference libraries
libcmd.a
libgtest.a
libgmock.a

# Build Products
libcir.a
libsat.a
libutil.a

fraig
